:root {
  --primary-color: #13b43b;
  --text-color: #333;
  --background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    }

  .home-header {
    background-color: #13b43b;
    color: white;
    text-align: center;
    padding: 40px 30px;
  }

  #logo{
    float: left;width: 150px; height: 150px;
    border-radius: 50%; 
  }

  #pic{
    float: right;width: 150px; height: 150px;
    border-radius: 50%; 
  }

nav {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

#myNav{
  color: #1e80e9;
}

.myIcon{
  color: #007bff;
}

.cta{
  padding: 10px 20px;
  background-color: #13b43b;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

button{
  border-radius: 5px;
}

.myIcon2{
 float: left;
  margin-left: 45%;
  margin-top: 1px;
  color: #007bff;
  font-size: 20px;
}
