/*MENU SECTION*/
:root {
  --primary-color: #13b43b;
  --text-color: #333;
  --background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
  }

.menu-header {
    background-color: #13b43b;
    color: white;
    text-align: center;
    padding: 40px 30px;
  }

  #logo{
    float: left;width: 150px; height: 150px;
    border-radius: 50%; 
  }

  #pic{
    float: right;width: 150px; height: 150px;
    border-radius: 50%; 
  }

  .my-Icon{
    text-decoration: none;
  } 
  .myIcon{
    float: right;
    margin-right: 5px;
    margin-top: 1px;
    color: #007bff;
    font-size: 20px;
  }

  footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: #fff;
  }

   @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 10px;
    }
  }