:root {
    --primary-color: #13b43b;
    --text-color: #333;
    --background-color: #f4f4f4;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
  }

  .post3-header {
    background-color: #13b43b;
    color: white;
    text-align: center;
    padding: 40px 30px;
  }

  #logo{
    float: left;width: 150px; height: 150px;
    border-radius: 50%; 
  }

  #pic{
    float: right;width: 150px; height: 150px;
    border-radius: 50%; 
  }

  h1{
    color: #007bff;
  }

   @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 10px;
    }
  }